@media all and (min-width: 380px) {
    .signup {
      /* padding: 60px 0; */
      font-size: 17px;
    }
  
    .signup form {
      margin: 0 auto;
      max-width: 400px;
    }
    button{
      border: 2px solid lightgrey;
      display: block;
      float: center;
      margin: auto;
    }
    
  }
